/**
 * Css used on sample files
 */

body {
  padding-top: 70px;
}

/* Override top arrow color. */
th.waffle-sortable-asc:before {
  border-bottom-color: blue;
}

/* Override bottom arrow color. */
th.waffle-sortable-desc:before {
  border-top-color: blue;
}